html, body, #root {
  height: 100%; /* Убедитесь, что корневой элемент занимает всю высоту */
  margin: 0; /* Убираем отступы */
  background-color: #121212; /* Задаём фон по умолчанию */
  overflow: hidden; /* Убираем прокрутку, если она не нужна */
}
